@model IEnumerable<ManagementSystem1.Models.Student>
    <p>
        <a asp-action="Create">Add New Student</a>
        <a asp-action="Create">Add New Teacher</a>
        <a asp-action="Create">Add New Course</a>
        <a asp-action="Create">Add New Assignment</a>
    </p>

    <h1>
        Welcome to City School Website
    </h1>
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
    <html>
    <body>
      
</body>
</html>